<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Categoria</title>
</head>
<body>

<h1>Actualizar Categoría</h1>
<a href="http://localhost:8080/">Volver al Menú</a>
<hr>

<form action="#" th:action="@{actualizar/guardar}" th:object="${categoriaRequest}" method="post">
    <input type="hidden" name="_method" value="PUT">

    <div>
    <label for="id">ID</label>
    <input type="number" id="id" name="id" required>
    </div>

    <div>
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" th:field="${categoriaRequest.nombre}">
    </div>

    <div>
        <label for="categoriaPadreId">Categoría Padre</label>
        <select id="categoriaPadreId" th:field="*{categoriaPadreId}">
            <option value="">--Ninguna (Categoria Raiz) </option>
            <option th:each="categoria : ${listaCategorias}" th:value="${categoria.idCategoria}"
                    th:text="${categoria.nombre}"> </option>
        </select>
    </div>
    <button type="submit">Actualizar Categoría</button>
</form>
</body>
</html>