<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Empleado</title>
</head>
<body>

<h1>Agregar nuevo Empleado</h1>
<a href="http://localhost:8080/empleados">Volver al Menu de Empleados</a>
<hr>
<form th:action="@{crear/guardar}" th:object="${empleado}" method="post">
    <label for="nombre">Nombre</label>
    <input type ="text" id="nombre" th:field="*{nombre}" required>
    <br>
    <label for="puesto">Puesto</label>
    <input type ="text" id="puesto" th:field="*{puesto}" required>
    <br>
    <label for="salario">Salario</label>
    <input type ="text" id="salario" th:field="*{salario}" required>
    <br>
    <label for="jefe">id del Jefe</label>
    <input type ="number" step="1" id="jefe" th:field="*{jefeId}" required>
    <br>
    <label for="fecha">Fecha de Contratacion</label>
    <input type ="date" id="fecha" th:field="*{fechaContratacion}" required>
    <br>
    <button type="submit">Crear Empleado</button>
</form>

</body>
</html>