<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Borrar Reseña</title>
</head>
<body>

<h1>Borrar Reseña</h1>
<a href="http://localhost:8080/resenas">Volver al Menú de Reseñas</a>
<hr>

<form action="#" th:action="@{borrar/guardar}" method="post">
    <input type="hidden" name="_method" value="DELETE">

    <div>
        <label for="id">ID de la Reseña</label>
        <input type="number" id="id" name="id" required>
    </div>

    <button type="submit">Borrar Reseña</button>
</form>

</body>
</html>