<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::header('Choritienda')}"></head>

<body class="bg-dark d-flex ">
<main class="container">
    <h1 class="text-center fw-bold" style="color:white">ChoriTienda</h1>
    <nav class="row justify-content-center h-25 mt-4">
        <div class="col-2 justify-content-center">
            <a class="btn btn-dark fw-semibold" href="categorias">Categorías</a>
        </div>
        <div class="col-2 justify-content-center">
            <a class="btn btn-dark fw-semibold" href="cliente">Clientes</a>
        </div>
        <div class="col-2 justify-content-center">
            <a class="btn btn-dark fw-semibold" href="empleados">Empleados</a>
        </div>
        <div class="col-2 justify-content-center ">
            <a class="btn btn-dark fw-semibold" href="productos">Productos</a>
        </div>
        <div class="col-2 justify-content-center ">
            <a class="btn btn-dark fw-semibold" href="pedidos">Pedidos</a>
        </div>
        <div class="col-2 justify-content-center ">
            <a class="btn btn-dark fw-semibold" href="resenas">Reseñas</a>
        </div>
    </nav>
</main>
</body>
</html>